<!-- ######################################################################################### -->
<!-- list -->
<mat-card [hidden]="data" class="animated fadeIn card-margin">
  <div class="row">
    <div class="col-lg-12">
      <h2>
        <span class="flex-title" [flexLabel]="'lblHeader'">Daily Checklist</span>
      </h2>
    </div>
  </div>
  <mat-expansion-panel [expanded]="true">
    <mat-expansion-panel-header [@.disabled]="true" expandedHeight="54px" collapsedHeight="54px">
      <mat-panel-title>Search Criteria</mat-panel-title>
    </mat-expansion-panel-header>
    <mat-card-content>
      <!--
                ################ Criteria ################
            -->
      <form (ngSubmit)="LoadData()" #criteriaForm="ngForm" autocomplete="off">
        <div class="col-12">
          <div class="row">

            <div class="col-sm-6 col-lg-3">
              <flex-combo name="Shift" placeholder="Shift" [datasource]="comboShift"
                [(ngModel)]="criteria.MACHINE_LOC_CD">
              </flex-combo>
            </div>

            <div class="col-sm-6 col-lg-3">

              <flex-combo name="Line" placeholder="Line" [datasource]="comboLine" [(ngModel)]="criteria.MACHINE_LOC_CD">
              </flex-combo>
            </div>

            <div class="col-sm-6 col-lg-3">

              <flex-combo name="MachineNo" placeholder="Machine No." [datasource]="comboMachineNo"
                [(ngModel)]="criteria.MACHINE_LOC_CD">
              </flex-combo>
            </div>

            <mat-form-field class="col-sm-6 col-lg-3">
              <mat-label>Machine Name</mat-label>
              <input matInput id="MachineName" name="MachineName" type="text">
            </mat-form-field>
          </div>


          <div class="row">

            <mat-form-field class="col-sm-6 col-lg-3">
              <mat-label>Check Date-From</mat-label>
              <input matInput [matDatepicker]="CheckDateFrom" id="CheckDateFrom" name="CompleteDateFrom">
              <mat-datepicker-toggle matSuffix [for]="CheckDateFrom"></mat-datepicker-toggle>
              <mat-datepicker #CheckDateFrom></mat-datepicker>
            </mat-form-field>

            <mat-form-field class="col-sm-6 col-lg-3">
              <mat-label>Check Date-To</mat-label>
              <input matInput [matDatepicker]="CheckDateTo" id="CheckDateTo" name="CheckDateTo">
              <mat-datepicker-toggle matSuffix [for]="CheckDateTo"></mat-datepicker-toggle>
              <mat-datepicker #CheckDateTo></mat-datepicker>
            </mat-form-field>

            <div class="col-sm-6 col-lg-3">

              <flex-combo name="Status" placeholder="Status" [datasource]="comboStatus"
                [(ngModel)]="criteria.MACHINE_LOC_CD">
              </flex-combo>
            </div>

          </div>

          <div class="row">
            <div class="col-12">
              <button mat-flat-button color="primary" type="submit" [disabled]="">Search</button>
              <button mat-stroked-button type="button" [disabled]="isLoading" (click)="OnAddNew()">Add
                New</button>
              <button mat-stroked-button type="button" [disabled]="isLoading" (click)="OnClear()">Clear</button>
            </div>
          </div>
        </div>
      </form>
    </mat-card-content>
  </mat-expansion-panel>


  <mat-expansion-panel [expanded]="true" *ngIf="isShowMachineList">
    <mat-expansion-panel-header [@.disabled]="true" expandedHeight="54px" collapsedHeight="54px">
      <mat-panel-title>Daily Checklist By Line</mat-panel-title>
    </mat-expansion-panel-header>
    <mat-card-content>
      <form (ngSubmit)="LoadMachine()" #criteriaForm="ngForm" autocomplete="off">
        <div class="col-12">

          <div class="row">
            <mat-form-field class="col-sm-6 col-lg-3">
              <mat-label>Checklist No.</mat-label>
              <input matInput id="ChecklistNo"  name="ChecklistNo" type="text">
            </mat-form-field>

            <div class="col-sm-6 col-lg-3">

              <flex-combo name="Line" placeholder="Line" [datasource]="comboLine" [(ngModel)]="criteria.MACHINE_LOC_CD">
              </flex-combo>
            </div>

            <mat-form-field class="col-sm-6 col-lg-3">
              <mat-label>Check Date-From</mat-label>
              <input matInput [matDatepicker]="CheckDateFrom" id="CheckDateFrom" name="CompleteDateFrom">
              <mat-datepicker-toggle matSuffix [for]="CheckDateFrom"></mat-datepicker-toggle>
              <mat-datepicker #CheckDateFrom></mat-datepicker>
            </mat-form-field>
          </div>

          <div class="row">

            <div class="col-sm-6 col-lg-3">
              <flex-combo name="Shift" placeholder="Shift" [datasource]="comboShift"
                [(ngModel)]="criteria.MACHINE_LOC_CD">
              </flex-combo>
            </div>


            <mat-form-field class="col-sm-6 col-lg-3">
              <mat-label>Checker</mat-label>
              <input matInput id="Checker" name="Checker" type="text">
            </mat-form-field>

            <div class="col-sm-6 col-lg-3">
              <button mat-flat-button color="primary" type="submit" [disabled]="">Search</button>
            </div>

          </div>

 
        </div>
      </form>


      <!-- <mat-list *ngIf="machineList">
        <mat-list-item *ngFor="let row of machineList" (click)="OnEdit(row)">
          <mat-icon mat-list-icon>folder</mat-icon>
          <h4 mat-line>Checklist/Repair No. : {{row.CHECK_REP_NO}}</h4>
          <p mat-line>{{row.MACHINE_NO}} : {{row.MACHINE_NAME}}</p>
          <small mat-line>Schedule Type : {{row.SCHEDULE_NAME}}</small>
          <small mat-line>Req./Comp. Date : {{row.DISPLAY_DATE | date: 'dd/MMM/yyyy'}}</small>
          <small mat-line>{{row.STATUS_DISPLAY}}</small>
           <p mat-line> {{row.updated | date}} </p> 
        </mat-list-item>
      </mat-list> -->


    </mat-card-content>
  </mat-expansion-panel>


</mat-card>
