<mat-card [hidden]="data" class="animated fadeIn card-margin">
    <mat-card-header>
        <mat-card-title [flexLabel]="'lblHeader'">Checklist and Repair Order</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <!--
            ################ Criteria ################
        -->
        <form (ngSubmit)="LoadData()" #criteriaForm="ngForm" autocomplete="off">
            <div class="col-12">
                <div class="row">
                    <mat-form-field class="col-sm-6 col-lg-3">
                        <mat-label>Request Date  - From</mat-label>
                        <input matInput [matDatepicker]="ReqDateFrom"
                        id="RequestDateFrom" name="RequestDateFrom"
                        [(ngModel)]="criteria.REQUEST_DATE_FROM">
                        <mat-datepicker-toggle matSuffix [for]="ReqDateFrom"></mat-datepicker-toggle>
                        <mat-datepicker #ReqDateFrom></mat-datepicker>
                    </mat-form-field>
                    <mat-form-field class="col-sm-6 col-lg-3">
                        <mat-label>Request Date  - To</mat-label>
                        <input matInput [matDatepicker]="ReqDateTo"
                        id="RequestDateTo" name="RequestDateTo"
                        [(ngModel)]="criteria.REQUEST_DATE_TO">
                        <mat-datepicker-toggle matSuffix [for]="ReqDateTo"></mat-datepicker-toggle>
                        <mat-datepicker #ReqDateTo></mat-datepicker>
                    </mat-form-field>
                    <mat-form-field class="col-sm-6 col-lg-3">
                        <mat-label>Complete Date  - From</mat-label>
                        <input matInput [matDatepicker]="CompleteDateFrom"
                        id="CompleteDateFrom" name="CompleteDateFrom"
                        [(ngModel)]="criteria.COMPLETE_DATE_FROM">
                        <mat-datepicker-toggle matSuffix [for]="CompleteDateFrom"></mat-datepicker-toggle>
                        <mat-datepicker #CompleteDateFrom></mat-datepicker>
                    </mat-form-field>
                    <mat-form-field class="col-sm-6 col-lg-3">
                        <mat-label>Complete Date  - To</mat-label>
                        <input matInput [matDatepicker]="CompleteDateTo"
                        id="CompleteDateTo" name="CompleteDateTo"
                        [(ngModel)]="criteria.COMPLETE_DATE_TO">
                        <mat-datepicker-toggle matSuffix [for]="CompleteDateTo"></mat-datepicker-toggle>
                        <mat-datepicker #CompleteDateTo></mat-datepicker>
                    </mat-form-field>
                </div>
                <div class="row">
                    <mat-form-field class="col-sm-6 col-lg-3">
                        <mat-label>Repair No. From</mat-label>
                        <input matInput id="REPNoFrom" name="REPNoFrom" type="text" [(ngModel)]="criteria.CHECK_REP_NO_FROM">
                    </mat-form-field>
                    <mat-form-field class="col-sm-6 col-lg-3">
                        <mat-label>Repair No. To</mat-label>
                        <input matInput id="REPNoTo" name="REPNoTo" type="text" [(ngModel)]="criteria.CHECK_REP_NO_TO">
                    </mat-form-field>
                    <mat-form-field class="col-sm-6 col-lg-3">
                        <mat-label>Person In Charge</mat-label>
                        <select matNativeControl id="PersonInCharge" name="PersonInCharge"
                            [(ngModel)]="criteria.PERSONINCHARGE">
                            <!-- <option value=""></option> -->
                            <option *ngFor="let c of comboPersonInCharge" [value]="c.VALUE">{{c.DISPLAY}}</option>
                        </select>
                    </mat-form-field>
                    <mat-form-field class="col-sm-6 col-lg-3">
                        <mat-label>PO Number</mat-label>
                        <input matInput id="PONumber" name="PONumber" type="text" [(ngModel)]="criteria.PONUMBER_FROM">
                    </mat-form-field>
                </div>
                <div class="row">
                    <div class="col-12">
                        <button mat-flat-button color="primary" type="submit"
                            [disabled] = "!criteriaForm.valid || isLoading">Search</button>
                        <button mat-stroked-button type="button" [disabled] = "isLoading" (click)="OnAddNew()">Add New</button>
                        <button mat-stroked-button type="button" [disabled] = "isLoading" (click)="OnClear()">Clear</button>
                    </div>
                </div>
            </div>
        </form>
        <!--
            ################ Detail ################
        -->
        <mat-list *ngIf="dataList">
            <mat-divider></mat-divider>
            <h3 mat-subheader>Result: {{dataList?.length}} rows</h3>
            <mat-divider></mat-divider>
            <mat-list-item *ngFor="let row of dataList" (click)="OnEdit(row)">
                <mat-icon mat-list-icon>folder</mat-icon>
                <h4 mat-line>Checklist/Repair No. : {{row.CHECK_REP_NO}}</h4>
                <p mat-line>{{row.MACHINE_NO}} : {{row.MACHINE_NAME}}</p>
                <small mat-line>Schedule Type : {{row.SCHEDULE_NAME}}</small>
                <small mat-line>{{row.STATUS_DISPLAY}}</small>
                <!-- <p mat-line> {{row.updated | date}} </p> -->
            </mat-list-item>
        </mat-list>
    </mat-card-content>
</mat-card>



<mat-card *ngIf="data" class="animated fadeIn card-margin">
    <form (ngSubmit)="SaveOH()" #formOH="ngForm" autocomplete="off">
        <mat-card-header>
            <mat-card-title>Checklist/Repair No. : {{data.Header.CHECK_REP_NO}}</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <div class="col-12">
                <div class="row">
                    <mat-form-field class="col-sm-6 col-lg-3">
                        <mat-label>Request Date</mat-label>
                        <input matInput [matDatepicker]="ReqDate"
                        id="ReqDate" name="ReqDate"
                        [(ngModel)]="data.Header.REQUEST_DATE">
                        <mat-datepicker-toggle matSuffix [for]="ReqDate"></mat-datepicker-toggle>
                        <mat-datepicker #ReqDate></mat-datepicker>
                    </mat-form-field>
                    <mat-form-field class="col-sm-6 col-lg-3">
                        <mat-label>Complete Date</mat-label>
                        <input matInput [matDatepicker]="CompleteDate"
                        id="CompleteDate" name="CompleteDate"
                        [(ngModel)]="data.Header.COMPLETE_DATE">
                        <mat-datepicker-toggle matSuffix [for]="CompleteDate"></mat-datepicker-toggle>
                        <mat-datepicker #CompleteDate></mat-datepicker>
                    </mat-form-field>
                    <mat-form-field class="col-sm-6 col-lg-3">
                        <mat-label>Person In Charge</mat-label>
                        <select matNativeControl id="PersonInCharge" name="PersonInCharge"
                            [(ngModel)]="data.Header.PERSONINCHARGE">
                            <!-- <option value=""></option> -->
                            <option *ngFor="let c of comboPersonInCharge" [value]="c.VALUE">{{c.DISPLAY}}</option>
                        </select>
                    </mat-form-field>
                    <mat-form-field class="col-sm-6 col-lg-3">
                        <mat-label>PO Number</mat-label>
                        <input matInput id="PONumber" name="PONumber" type="text" [(ngModel)]="data.HeaderOverHaul.PONUMBER">
                    </mat-form-field>
                </div>
            </div>
        </mat-card-content>
        <mat-card-actions>
            <button mat-flat-button color="primary" type="submit"
                [disabled] = "!formOH.valid || isLoading">Save</button>
            <button mat-flat-button (click)="Back()">Back</button>
        </mat-card-actions>
    </form>
</mat-card>