<mat-card [hidden]="selectedData" class="animated fadeIn card-margin">
    <mat-card-header>
        <mat-card-title>Checklist and Repair Order</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <!--
            ################ Criteria ################
        -->
        <form (ngSubmit)="LoadData()" #criteriaForm="ngForm" autocomplete="off">
            <div class="col-12">
                <div class="row">
                    <mat-form-field class="col-md-6 col-lg-4">
                        <mat-label>Request Date  - From</mat-label>
                        <input matInput [matDatepicker]="ReqDateFrom"
                        id="RequestDateFrom" name="RequestDateFrom"
                        [(ngModel)]="criteria.REQUEST_DATE_FROM">
                        <mat-datepicker-toggle matSuffix [for]="ReqDateFrom"></mat-datepicker-toggle>
                        <mat-datepicker #ReqDateFrom></mat-datepicker>
                    </mat-form-field>
                    <mat-form-field class="col-md-6 col-lg-4">
                        <mat-label>Request Date  - To</mat-label>
                        <input matInput [matDatepicker]="ReqDateTo"
                        id="RequestDateTo" name="RequestDateTo"
                        [(ngModel)]="criteria.REQUEST_DATE_TO">
                        <mat-datepicker-toggle matSuffix [for]="ReqDateTo"></mat-datepicker-toggle>
                        <mat-datepicker #ReqDateTo></mat-datepicker>
                    </mat-form-field>
                </div>
                <div class="row">
                    <mat-form-field class="col-md-6 col-lg-4">
                        <mat-label>Person In Charge</mat-label>
                        <select matNativeControl id="PersonInCharge" name="PersonInCharge"
                            [(ngModel)]="criteria.PERSONINCHARGE">
                            <option *ngFor="let c of comboPersonInCharge; let i = index" [value]="comboPersonInCharge[i].VALUE">
                            {{comboPersonInCharge[i].DISPLAY}}
                            </option>
                        </select>
                    </mat-form-field>
                    <mat-form-field class="col-md-6 col-lg-4">
                        <mat-label>PO Number</mat-label>
                        <input matInput id="PONumber" name="PONumber" type="text" [(ngModel)]="criteria.PONUMBER_FROM">
                    </mat-form-field>
                </div>
                <div class="row">
                    <div class="col-12">
                        <button mat-flat-button color="primary" type="submit"
                            [disabled] = "!criteriaForm.valid || isLoading">Search</button>
                        <button mat-flat-button (click)="false">Add New</button>
                    </div>
                </div>
            </div>
        </form>
        <!--
            ################ Detail ################
        -->
        <table mat-table [dataSource]="dataSource" class="col-md-12" matSort>
            <ng-container matColumnDef="CLS_INFO_CD">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Class Info Code </th>
                <td mat-cell *matCellDef="let row"> {{row.CLS_INFO_CD}} </td>
            </ng-container>
            <ng-container matColumnDef="CLS_CD">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Class Code </th>
                <td mat-cell *matCellDef="let row"> {{row.CLS_CD}} </td>
            </ng-container>
            <ng-container matColumnDef="CLS_DESC">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Class Description </th>
                <td mat-cell *matCellDef="let row"> {{row.CLS_DESC}} </td>
            </ng-container>
            <ng-container matColumnDef="SEQ">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Sequence </th>
                <td mat-cell *matCellDef="let row"> {{row.SEQ}} </td>
            </ng-container> 
            <ng-container matColumnDef="EDIT_FLAG">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Editable </th>
                <td mat-cell *matCellDef="let row"> {{row.EDIT_FLAG===1?'Yes':'No'}} </td>
            </ng-container>         
            <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"
                (click)="Edit(row)"></tr>
        </table>
        <mat-paginator [pageSizeOptions]="pageOptions" showFirstLastButtons></mat-paginator>
    </mat-card-content>
</mat-card>