<h2 mat-dialog-title>Select Checklisr/Repair Order type</h2>
<div>
        <mat-radio-group [(ngModel)]="selected" [ngModelOptions]="{standalone: true}">
            <mat-radio-button class="col-12" value="1">Over Haul</mat-radio-button>
            <mat-radio-button class="col-12" value="2">P.M</mat-radio-button>
            <mat-radio-button class="col-12" value="3">Corrective</mat-radio-button>
        </mat-radio-group>
</div>
<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Cancel</button>
    <button mat-button type="button" [mat-dialog-close]="selected" cdkFocusInitial>Select</button>
</mat-dialog-actions>