<mat-card class="animated fadeIn card-margin">
    <mat-card-header>
        <mat-card-title [flexLabel]="'SFM006_AuthorizedMaintenance'"></mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <div class="row">
            <div class="col-md-4">
                <mat-list dense *ngIf="obj.Result">
                    <mat-divider></mat-divider>
                    <h3 mat-subheader>User Group Result: {{obj.Result?.length}} rows</h3>
                    <mat-divider></mat-divider>
                    <mat-list-item *ngFor="let row of obj.Result" (click)="OnEdit(row)">
                        <mat-icon mat-list-icon>folder</mat-icon>
                        <h4 mat-line>{{row.GROUP_NAME}}</h4>
                        <p mat-line>{{row.GROUP_CD}}</p>
                    </mat-list-item>
                </mat-list>
            </div>
            <div class="col-md-4">
                <mat-list dense *ngIf="obj.Screen" >
                    <mat-divider></mat-divider>
                    <h3 mat-subheader>Screen Result: {{obj.Screen?.length}} rows</h3>
                    <mat-divider></mat-divider>
                    <mat-list-item *ngFor="let row of obj.Screen" (click)="OnEditScreen(row)">
                        <mat-icon mat-list-icon>folder</mat-icon>
                        <h4 mat-line>{{row.SCREEN_NAME}}</h4>
                        <p mat-line>{{row.SCREEN_CD}}</p>
                    </mat-list-item>
                </mat-list>
            </div>
            <div class="col-md-4">
                <mat-list dense *ngIf="obj.SelectedScreen">
                    <mat-divider></mat-divider>
                    <h3 mat-subheader>Standard Result: {{obj.SelectedScreen.Standard.length}} rows</h3>
                    <mat-divider></mat-divider>
                    <mat-list-item *ngFor="let row of obj.SelectedScreen.Standard">
                        <mat-checkbox (change)="OnChecked(row)" [(ngModel)]="row.CAN_EXECUTE">{{row.METHOD}}</mat-checkbox>
                    </mat-list-item>
                    <mat-divider></mat-divider>
                    <div *ngIf="obj.SelectedScreen.Special.length > 0">
                        <h3 mat-subheader>Special Result: {{obj.SelectedScreen.Special.length}} rows</h3>
                        <mat-divider></mat-divider>
                        <mat-list-item *ngFor="let row of obj.SelectedScreen.Special">
                            <mat-checkbox (change)="OnChecked(row)" [(ngModel)]="row.CAN_EXECUTE">{{row.METHOD_NAME || row.METHOD}}</mat-checkbox>
                        </mat-list-item>
                    </div>
                </mat-list>
            </div>
        </div>
    </mat-card-content>
</mat-card>