.flex-time-container
{
    padding-top: 4px;
}

.flex-time-label
{
    color: rgba(0, 0, 0, 0.54);
    display: inline-block;
    position: relative;
    top: -11px;
}

.flex-time-picker
{
    display: inline-block;
}