
// Here you can add other styles
table {
    width: 100%;
}

ul li.user-title {
    color: gray;
    font-weight: 500;
}

.mat-card.card-margin {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: -20px;
    margin-right: -20px;
}
.mat-expansion-panel-header {
    background-color: rgba(32, 168, 216, 1) !important;
    color:white;
    font-weight: normal;
    height: 34px;
    margin-top: -5px;
    margin-bottom: -5px;
}

.mat-expansion-panel-header:hover {
    background: #1E96C1 !important;
    font-weight: 500;
}

.mat-expansion-indicator {
    position: absolute;
    left: 32px;
    color: white;
}

.mat-expansion-indicator::after {
    color: white;
}

.mat-card-content {
    padding-top: 15px;
}

.mat-expansion-panel-header-title {
    color:white;
    padding-left: 10px;
}

.mat-card-header {
    background: $primary !important;
    margin-top: 5px;
    border-radius: 5px;
}

.mat-card-title {
    padding-top: 10px;
    color: white;
}

th.mat-sort-header-sorted {
    color: black;
}

tr.mat-row {
    cursor: pointer;
    height: 30px !important;
}
tr.mat-row:hover {
    background-color: lightgrey;
    color: #FFF;
}
.mat-row:nth-child(even){
    background-color:#f9f9ff;
}
.mat-row:nth-child(odd){
    background-color:#FFF;
}
.mat-dialog-actions {
    justify-content: flex-end;
}

.mat-list-item {
    cursor: pointer;
    border-style: solid;
    border-color: lightgrey;
    border-width: 1px;
    border-radius: 5px;
    margin-top: 5px;
}
.mat-list-item h4 {
    color: $primary;
    font-weight: bold;
}
.mat-list-item:hover {
    background-color: lightgrey;
}
.list-item-active {
    background-color: powderblue;
}

.grid-checkbox-column{
    padding-top: 0.35rem !important;
}

.grid-switch-column{
    vertical-align: top;
    text-align: center;
}

.switch-column
{
    margin-top: 0.5rem;
    margin-bottom: 0;
}

.button-column
{
   height: 100%;
}

.text-column
{
    height: 100%;
    padding-left: 2px;
    padding-right: 2px;
    margin-left: 2px;
    margin-right: 2px;
    word-break: break-all;
}

.checkbox-label
{
    vertical-align: super;
}

.checkbox-row
{
    padding-bottom: 17.5px;;
}

.flex-status
{
    color: #696764 !important;
    text-align: right;
}

.flex-document-header {
    color:  #696764 !important;
}

.flex-title {
    color: rgba(32, 168, 216, 1) !important;
}

// NG SELECT
@import "~@ng-select/ng-select/themes/material.theme.css";
//@import "~@ng-select/ng-select/themes/default.theme.css";

.ng-select.ng-select-single .ng-select-container .ng-value-container .ng-input {
    top: 50%;
    transform: translateY(-50%);
}

.text-black
{
    color: #000000 !important;
}

.pre-line
{
    white-space: pre-line;
}

.the-legend {
    border-style: none;
    border-width: 0;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 0;
    display: block;
    width: fit-content;
    padding-left: 5px;
    padding-right: 5px;
    margin-left: 5px;
}
.the-fieldset {
    border: 1px groove #ccc;
    -webkit-box-shadow:  0px 0px 0px 0px #000;
            box-shadow:  0px 0px 0px 0px #000;
}
